* {
  margin: 0;
  padding: 0;

  .container-banner {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .card-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: max(70px, 3.5vw);
    padding: 0 0 5% 0;
  }
  .cards-banner {
    width: 26%;
    border: 1px solid #ccccb3;
    border-radius: max(15px, 2vw);
    padding: 4px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  .date-banner {
    display: flex;
    padding: 5%;
    font-size: max(13px,1.4vw);
  }
  .line-banner {
    display: flex;
    align-items: center;
    padding: 5% 0;
    font-size: max(13px,1.3vw);

    button {
      width: max(70px,7.5vw);
      height: max(20px,2.3vw);
      margin: 0 5%;
      border: none;
      border-radius: 5px;
      color: white;
      font-size: max(11px,1.1vw);
    }
  }
  .card1 {
    background-color: #39ac39;
  }
  .card2 {
    background-color: #0040ff;
  }
  .card3 {
    background-color: #cc00ff;
  }
  .icon-banner {
    width: max(25px,2.5vw);
    border-radius: 60%;
    margin-right: 3%;
  }
  .paragraf-banner {
    padding: 5% 5% 15% 5%;
    line-height: 1.4;

    p {
      color: #ccccb3;
      font-size: max(13px,1.4vw);
    }
  }
  .button-banner {
    display: flex;
    align-items: center;
    padding: 5% 0 5% 6%;
  }
  .btn-banner {
    width: max(100px,10vw);
    height: max(35px,3.5vw);
    border-radius: 45px;
    border: 1px solid #0066ff;
    color:  #0066ff;
    background-color: #fff;
    font-size: max(11px,1.1vw);
  }
  .btn-banner:hover{
    box-shadow: 5px 5px 0px #f5edef;
    top: 3px;
    left: -3px;
  }
 
}

@media (max-width:1030px) {
  .card-banner{
    justify-content: center;
  }  
  .cards-banner{
       width: 36%;
       margin: 0 20px;
    }
}

@media (max-width:870px) {
    .cards-banner{
       width: 36%;
    }
}

@media (max-width:800px) {
    .cards-banner{
       width: 36%;
    }
}
@media (max-width:750px) { 
  .cards-banner{
       width: 38%;
       margin-left: 10px;
    }
}
@media (max-width:704px) { 
  .cards-banner{
       width: 37%;
       margin-left: 10px;
    }
}
@media (max-width:650px) {
    .cards-banner{
       width: 35%;
       margin-left: 20px;
    }
}
@media (max-width:641px) {
  .cards-banner{
     width: 65%;
     margin-left: 20px;
  }
}
@media (max-width:500px) {
    .cards-banner{
       width: 88%;
       margin-left: 15px;
    }
}
@media (max-width:400px) {
    .cards-banner{
       width: 96%;
       margin-left: 20px;
    }
}
@media (max-width:350px) {
    .cards-banner{
       width: 100%;
       margin-left: 5px;
    }
}

